.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/screen_record.gif
images/ollama_autopilot_logo_small.png
images/ollama_autopilot_logo_big.png